.app {
  height: 100vh;
  width: 100vw;

  /* Apply an off-white background color */
  background-image: url('../assets/bolton-kendo-club.jpg');
  background-size: cover;       /* Ensures the image covers the entire div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling the image */

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items at the start vertically */
  text-align: center;
}

.title {
  color: variables.$primary-color; /* White text color for contrast */
  font-size: 3rem; /* Optional: adjust size as needed */
}

/* Animation keyframes */
@keyframes fall {
  from {
    opacity: 0; /* Start invisible */
    transform: translateY(-100%) scaleX(0); /* Start above the screen with no width */
  }
  to {
    opacity: 0.95; /* Fade in */
    transform: translateY(10vh) scaleX(1); /* Drop to 25% viewport height */
  }
}

/* Element styles */
.falling-element {
  margin: 10px; /* Remove default margin */
  padding: 50px; /* Add some padding for aesthetics */
  background: linear-gradient(to right, #2f7ecd, #0066cc);
  border-radius: 8px; /* Optional: rounded corners */

  position: absolute;
  top: 0; /* Start from the top */
  // left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  height: 60vh; /* Occupy 50% of the viewport height */
  animation: fall 1s ease-out forwards; /* Apply animation */
  opacity: 0; /* Start invisible */
}
