.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: variables.$button-color; 
  color: white;
  cursor: pointer;
  transition: variables.$background-color 0.3s ease;

  &:hover {
    background-color: variables.$background-color; 
  }

  &:disabled {
    background-color: variables.$disabled-color; 
    cursor: not-allowed;
  }
}