.home {
  position: relative;
  background-image: url('../assets/bolton-kendo-main.jpg');
  background-size: contain;       /* Ensures the image covers the entire div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling the image */
  background-color: variables.$light-blue;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items at the start vertically */
  text-align: center;

  top: variables.$MOBILE_HEADER_HEIGHT;
  height: calc(100vh - variables.$MOBILE_HEADER_HEIGHT);
  width: 100vw;

  @media (max-width: variables.$MOBILE_BREAKPOINT) {
    background-image: url('../assets/bolton-background-mobile.jpg');
    background-size: center;       /* Ensures the image covers the entire div */
  }
}