.header {
  display: flex;
  justify-content: space-around;
  background-color: variables.$dark-blue-color;
}

.title {
  color: variables.$primary-color; 
  font-size: 3rem; 
  padding: 24px 20px;
}

/* Animation keyframes */
@keyframes fall {
  from {
    opacity: 0; /* Start invisible */
    transform: translateY(-100%) scaleX(0); /* Start above the screen with no width */
  }
  to {
    opacity: 0.95; /* Fade in */
    transform: translateY(0vh) scaleX(1); /* Drop to 25% viewport height */
  }
}

.falling-element {
  position: absolute;
  top: 0; 
  animation: fall 1s ease-out forwards; 
  opacity: 0; 
  width: 100%;
}

.menuContainer {
  padding-left: 0;
  visibility: collapse;

  &.open {
    visibility: visible;
  }
  animation: fall 1s ease-out forwards; 
  opacity: 0;
}

.menuItems {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.menuItem {
  flex: 1;
  display: block;
  padding: 10px;
  background-color: variables.$dark-blue-color;
  text-decoration: none;
  border-top: 1px solid variables.$primary-color;
  transition: background-color 0.3s ease;
  width: 15rem;
  flex-direction: row;
  color: variables.$primary-color;
  font-weight: 600;
}

.menuItem:hover {
  background-color: variables.$menu-text-color;
}

@media (max-width: 768px) {
  .menuItems {
    flex-direction: column;
  }
  .menuItem {
    width: unset;
  }
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 18px;
  right: 20px;
  margin-top: 10px;
  color: variables.$primary-color;
    /* Show hamburger button only on mobile */
  @media (min-width: 769px) {
    display: none;
  }
}
  