.reading {
    position: relative;
    background-color: variables.$primary-color;
    align-items: self-start;
    justify-content: center;
    color: variables.$dark-blue-color;
    display: flex;  
    flex-direction: column;
    justify-content: start;
    top: variables.$DESKTOP_HEADER_HEIGHT  + variables.$DESKTOP_MENU_HEIGHT;
    height: calc(100vh - variables.$DESKTOP_HEADER_HEIGHT - variables.$DESKTOP_MENU_HEIGHT);
    margin: 0 20px;
}

.reading-title {
    color: variables.$dark-blue-color; 
    font-size: 1.2rem; 
    background-color: variables.$primary-color;
    text-align: center;
    height: 3rem;
    margin-top: 20px;
}

@media (max-width: variables.$MOBILE_BREAKPOINT) {
    .reading {
        top: variables.$MOBILE_HEADER_HEIGHT;
        height: calc(100vh - variables.$MOBILE_HEADER_HEIGHT);
    }
    .reading-title {
        font-size: 1.5rem; 
        height: 5rem;
    }
}